<!DOCTYPE html>
<html>

<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script  defer src="request.js"></script>
    <title>Zoo clinic</title>
</head>
<body onload="registrationResult()"><br>
<button type="button" onclick="regForm()">registration</button>
<button type="button" onclick="addAnimalForm()">add pet</button>
<button type="button" onclick="logForm()">log out</button>


<div id="table_response" class="table"></div>
<br>
<button type="button" onclick='registrationResult()'>update table clients</button>
<br><br>
<input type='text' id='find_by_client_id' value=""/> client id

<button type="button" value="Send" name="Send" onclick='findByClientId()'>find</button>
<br>

</body>
</html>