<!DOCTYPE html>
<html>

<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script defer src="request.js"></script>
    <title>Zoo clinic</title>
</head>

<body onload="getClientsList()"><br>

        <button type="button" class="button button1" onclick="closeForm()">Close</button>
    <br><button type="button" class="button button1" onclick='getClientsList()'>Clients</button>
    <br><button type="button" class="button button1" onclick='getAnimalsList()'>Animals</button>
    <br><button type="button" class="button button1" onclick="regForm()">Registration</button>
    <br><button type="button" class="button button1" onclick="addAnimalForm()">Add pet</button>
    <br><button type="button" class="button button1" onclick="logForm()">Log out</button>
    <br><button type="button" class="button button1" onclick="listAnimalsByClientIdForm()">Find</button>

<div class="container">
    <div class="form-style-9">
        <div id="response" class="center"></div>
    </div>
</div>


</body>
</html>